.container{
    max-width:95%;
    margin-top: 120px;
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 1fr;
    gap: 10px;

    position: relative;
    margin-bottom: 30px;

}


.loading{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 5vh;
}

@media(max-width:1100px){

}

@media(max-width:800px){

}