.container{


    position:absolute;
    z-index: 300;

    height:50vh;
    width: 50%;
    border-radius:10px;
    background-color: white;
    box-shadow: 0 2px 500px rgba(0,0,0, 50);
    top:150px;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;
    align-items: center;


}

.top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid rgb(224, 224, 224);
    height: 33px;
    width:90%;
    font-size:30px;
    text-align: center;
    text-justify: center;
    padding:20px;
    color:rgb(6, 29, 42);

}

.close{
    position:absolute;
    top:27px;
    right:27px;
    height: 15px;
    width: 15px;
    opacity: 0.5;
    cursor: pointer;
}
.close:hover{
    opacity: 1;
}



.textInput{

    padding-left: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(209, 209, 209);
}
.textInput:focus{
    box-shadow: 0 0 10px grey ;
}


.inputwrapper{
    margin-top:30px;
    display:flex;
    align-items:flex-start;

    gap: 20px;

}
.inputwrapper2{
    display:flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px;
}
.equalimg{
    height: 35px;
    width: 40px;
}

.usdAmount{
    font-size: 20px;

}
.box{
    display:flex;
    flex-direction: column;
    gap:10px;
}
.button{
margin-top: 7px;
}


@media(max-width: 650px){
    .container{
        width:95%;
    }
}