.container{

    width: 100% -padding;
    height: 90vh;
    background-color: rgb(6, 29, 42);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:20px;

    position: relative;

    z-index: 10;

}








