.container{

    width: 100% -padding;
    height: 90vh;
    opacity: 100%;
    border-bottom: 1px solid grey;
    background-color: rgb(6, 29, 42);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}






