.button{
    color: white;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(6, 29, 42);
    border-radius: 10px;
    border-style: hidden;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.button:active {
    border-style: hidden;
}
.button:hover{
    box-shadow: 0 1px 4px rgb(0, 0, 0);
}