

.integration{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.totalAmount{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;

    width: 85%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
    gap: 10px;
}

.asset{

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;

    width: 85%;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 5px;
}
