* {margin:0px; padding:0px}


body{
   margin:0px; padding:0px;
   background-color:black;
}


#root{
   width:100%;
   height:100%;
   margin: 0px;
}

html *
{
   font-family: monospace;
}


:root {
   font-family: monospace !important;
}