.miniModal{

    height: 40px;
    width: 90px;
    background-color:rgb(6, 29, 42);
    border-radius: 10px;
    z-index: 100;
    position:absolute;

    display:flex;
    align-items:center;
    justify-content:center;

    transform: translate(calc( 70px * var(--x)), calc( 300px * var(--y)));
}


.text{

    font-size: 20px;
    color: white;
}