
.modal{

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    text-align: center;
    width: 250px;
    z-index: 30;
    opacity: 80%;

    position: fixed;
    top: 90px;

    right: 142px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    color: rgb(6, 29, 42);
    font-size: 22px;
}


.button{
    width: 80%;
    height: 40px;
    background-color: white;
    color: rgb(6, 29, 42);
    font-size: 18px;
    border-style:hidden;
}
.button:active {
    border-style: hidden;
}
.button:hover{
    color: rgb(0,124,255);
}


@media(max-width:800px){

    .modal{
    right: 102px;

    }
}


@media(max-width:500px){

    .modal{
        top:140px;
        width:100%;
        right:0px;


    }
}